body {
    margin: 0;
    top: 0;
    left: 0;
}
.drag {
    width: 100%;
    display: flex;
    justify-content: center;
}
.dragBox {
    background-color: #dddddd;
    margin: 1rem 0.5rem;
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
}
.dragBox:hover {
    background-color: #d0f0ff;
    cursor: pointer;
}
.drop, .drop2 {
    display: block;
    width: 300px;
    height: 150px;
    margin: 0 auto;
    border: 3px #8b8b8b dashed;
    border-radius: 10px;
    background-color: #f8f8f8;
}
.drop2 {
    background-color: #d3fcff;
}